.flag{
  
  width: 200px;
  max-height: auto;
}

.flagCard{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  outline: black 2px;
  width: 200px;
  margin: 10px;

}
.cardContainer{
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}